<div class="body-color">
    <div fxLayout="column-reverse">
        <div>
            <mat-card class="body-card">
                <mat-card-title>Tio x</mat-card-title>
                <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                <mat-card-actions>
                <button mat-button>Botão</button>
                <button mat-button>Botão1</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            <mat-card class="body-card">
                <mat-card-title>Tio z</mat-card-title>
                <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                <mat-card-actions>
                <button mat-button>Botão</button>
                <button mat-button>Botão1</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>    



