<mat-toolbar class="head-nave" color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div>
            <button mat-button>
                <span class="logo">Lucas Mateus Silva</span>
            </button>
        </div>
        <div>    
            <button mat-button>
                <mat-icon>person</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>work</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>building</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>email</mat-icon>
            </button>
        </div> 
    </mat-toolbar-row>   
</mat-toolbar>
<app-body-page></app-body-page>