
.header-home{
    background-color: #a6b985;
}

.icon-menu{
    margin-right: 2%;
}

#icon-home{
    margin-left: 15%;
}

.icons-menu{
    margin-right: 5%;
}
.sub-header{
    background-color: #648a64;
}
.body-home{
    background-color: #46685b;
}
.size-card{
    max-width: 6000px;
}
  